*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
    width: 100vw;
    height: 100vh;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    width: 80%;
    background: rgb(58, 57, 57);
    margin: auto;
    margin-top: 100px;
}
header{
    margin: 10px 0;
    font-size: 25px;
    width: 100%;
    background: gray;
    text-align: center;
    padding: 10px 0;
    border: 3px solid rgb(58, 57, 57);;
}
.main-body{
    width: 100%;
}
.main-body h3{
    text-align: center;
    border: 2px solid rgb(12, 10, 10);;
    width: 200px;
    border-bottom: none;
    padding: 10px 0;
    margin: auto;
}
video{
    background: black;
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px 20px;
}
.buttons button{
    padding: 10px 20px;
    background: rgba(6, 122, 6, 0.685);
    border: none;
    color:white ;
}
.download-video{
    margin: auto;
    padding: 10px 20px;
    background: rgba(6, 122, 6, 0.685);
    border: none;
    color:white ;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.recorded-video-wrap{
    /* display: flex; */
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    display: none;
}
.recorded-video{
    background: black;
    width: 50%;
   
}
